.margem{
  margin: 10px;
}

.margem-superior-8{
  margin-top: 8px;
}

.card{
  background-color: rgb(235, 235, 235);
  padding: 12px 12px 12px;
  margin-bottom: 8px;
  width: 300px;
}

span{
  font-weight: bold;
}